{% extends "index.html" %}
{% load static %}
{% block main %}
{% for about in about %}

<div class="centerContainer">  
    <div class="child">
        <h1 class="largeCenterText">{{ about.title1 }}</h1>
        <p class="centerContainer">{{ about.text1 }}</p>
        <h1 class="largeCenterText">{{ about.title2 }}</h1>
        <p class="centerContainer">{{ about.text2 }}</p>
        <h1 class="largeCenterText">{{ about.title3 }}</h1>
        <p class="centerContainer">{{ about.text3 }}</p>
    </div>
</div>

{% endfor %}
{% endblock main %}